<head th:fragment="head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="description" content="" />
<title>凯瑞特环保包装</title>
<link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
<link href="css/css.css" th:href="@{/css/css.css}" rel="stylesheet"
	type="text/css">
<link href="css/Animation.css" th:href="@{/css/Animation.css}"
	rel="stylesheet" type="text/css">
<link href="css/slider.css" th:href="@{/css/slider.css}"
	rel="stylesheet" type="text/css">
<script src="js/jquery-1.9.1.min.js"
	th:href="@{/js/jquery-1.9.1.min.js}" type="text/javascript"></script>
<script src="js/common.js" th:href="@{/js/common.js}"
	type="text/javascript"></script>
<script src="js/slider.js" th:href="@{/js/slider.js}"
	type="text/javascript"></script>
<script src="js/html5.js" th:href="@{/js/html5.js}"
	type="text/javascript"></script>
<script src="js/jquery.js" th:href="@{/js/jquery.js}"
	type="text/javascript"></script>
<script src="js/jquery.SuperSlide.2.1.1.js"
	th:href="@{/js/jquery.SuperSlide.2.1.1.js}" type="text/javascript"></script>
<script src="js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"
	type="text/javascript"></script>
<script src="js/wow.min.js" th:href="@{/wow.min.js}"
	type="text/javascript"></script>
<script type="text/javascript">
	var wow = new WOW({
		boxClass : 'wow',
		animateClass : 'animated',
		offset : 0,
		mobile : false,
		live : true
	});
	wow.init();
	/***放大镜***/
</script>
<!--[if lt IE 9]>
	  <script src="js/html5shiv.min.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<header th:fragment="header" class="navbar-fixed-top headerbg">
	<div class="container-fluid">
		<div class="logo">
			<a href="index.html"><img src="images/logo.png"
				th:src="@{/images/logo.png}" alt=""></a>
		</div>
		<div class="navBox hidden-xs hidden-sm">
			<ul class="navList list-unstyled">
				<li class="navLi">
					<h3>
						<a href="index"><span>首页</span></a>
					</h3>
				</li>
				<li class="navLi on">
					<h3>
						<a href="product.html"><span>产品中心</span></a>
					</h3>
					<div class="navSub">
						<ul class="navSubList list-unstyled">
							<li class="navSubLi">
								<h4>
									<a href="Product_into1.html">● 彩印纸箱</a>
								</h4>
							</li>
							<li class="navSubLi">
								<h4>
									<a href="Product_into.html">● 牛皮纸箱</a>
								</h4>
							</li>
							<li class="navSubLi">
								<h4>
									<a href="Product_into2.html">● 瓦楞纸</a>
								</h4>
							</li>
							<li class="navSubLi">
								<h4>
									<a href="Product_into3.html">● 定制纸箱</a>
								</h4>
							</li>
						</ul>
					</div>
				</li>
				<li class="navLi">
					<h3>
						<a href="Case.html"><span>客户案例</span></a>
					</h3>
					<div class="navSub">
						<ul class="navSubList list-unstyled">
							<li class="navSubLi">
								<h4>
									<a href="#">● 客户案例</a>
								</h4>
							</li>

						</ul>
					</div>
				</li>
				<li class="navLi">
					<h3>
						<a href="Dynamic.html"><span>公司动态</span></a>
					</h3>
				</li>
				<li class="navLi">
					<h3>
						<a href="Company.html"><span>关于我们</span></a>
					</h3>
					<div class="navSub">
						<ul class="navSubList list-unstyled">
							<li class="navSubLi">
								<h4>
									<a href="Company.html">● 公司简介</a>
								</h4>
							</li>
							<li class="navSubLi">
								<h4>
									<a href="Contact.html">● 联系方式</a>
								</h4>
							</li>
							<li class="navSubLi">
								<h4>
									<a href="Pay_by.html">● 支付方式</a>
								</h4>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="header_phone">
			<div class="icon_phone pt5 fl">
				<img src="images/icon_phone.png" th:src="@{/images/icon_phone.png}">
			</div>
			<div class="phone fl">
				<h4>服务咨询热线：</h4>
				<h2>0536-11111111</h2>
			</div>
		</div>
	</div>
</header>
<div th:fragment="footer">
	<!--联系方式-->
	<div class="contact_phone">
		<div class="container">
			<div class="col-xs-6 col-sm-6 col-md-6 fadeInUp animated relative">
				<div class="phone_info">
					<em class="tel_icon fl"><img src="images/phone_img_06.png"
						th:src="@{/images/phone_img_06.png}"></em>
					<h3>服务咨询热线</h3>
					<h2>0536-22222222</h2>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 fadeInUp animated relative">
				<div class="phone_info">
					<em class="phone_icon fl"><img src="images/phone_img_07.png"
						th:src="@{/images/phone_img_07.png}"></em>
					<h3>移动服务热线:</h3>
					<h2>
						137911111111<span>（马）</span>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!--底部样式-->
	<footer class="footerBg">
		<div class="container">
			<div class="ptb40">
				<div class="footTopL">
					<dl class="clearfix">
						<dt>关于我们</dt>
						<dd>
							<a href="#">联系地址</a>
						</dd>
						<dd>
							<a href="#">公司介绍</a>
						</dd>
						<dd>
							<a href="#">荣誉资质</a>
						</dd>
						<dd>
							<a href="#">招聘信息</a>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>公司产品</dt>
						<dd>
							<a href="#">彩印纸箱</a>
						</dd>
						<dd>
							<a href="#">牛皮纸箱</a>
						</dd>
						<dd>
							<a href="#">瓦楞纸</a>
						</dd>
						<dd>
							<a href="#">定制纸箱</a>
						</dd>
					</dl>

				</div>
				<div class=" center weixin">
					<img src="images/weixing-ma.jpg" th:src="@{/images/weixing-ma.jpg}"
					<h5>微信关注我们</h5>
				</div>
			</div>
		</div>
		<div class="CopyRight">
			<div class="container">
				<span class="footer_logo"><img src="images/footer_logo.png"
					th:src="@{/images/footer_logo.png}"></span><span
					class="CopyRight_name">CopyRight 软件名称 2016 版权所有
					鲁ICP备xxxxxxxxx</span>
			</div>
		</div>
	</footer>
	<div class="cndns-right">
		<!-- <div class="cndns-right-meau meau-sev">
			<a href="javascript:" class="cndns-right-btn"> <span
				class="demo-icon">&#xe901;</span>
				<p>
					在线<br /> 客服
				</p>
			</a>
			<div class="cndns-right-box">
				<div class="box-border">
					<div class="sev-t">
						<span class="demo-icon">&#xe901;</span>
						<p>
							在线客服<i>服务时间：9:00-24:00</i>
						</p>
						<div class="clear"></div>
					</div>
					<div class="sev-b">
						<h4>选择下列产品马上在线沟通：</h4>
						<ul id="zixunUl">
							<li><a href="javascript:void(0);">客服1</a></li>
							<li><a href="javascript:void(0);">客服2</a></li>
							<li><a href="javascript:void(0);">产品经理</a></li>
							<li><a href="javascript:void(0);">技术支持</a></li>
							<li><a href="javascript:void(0);">技术支持1</a></li>
							<li><a href="javascript:void(0);">橙云主机</a></li>
							<li><a href="javascript:void(0);">产品交易</a></li>
							<li><a href="javascript:void(0);">其他产品</a></li>
							<div class="clear"></div>
						</ul>
					</div>
					<span class="arrow-right"></span>
				</div>
			</div>
		</div> -->
		<div class="cndns-right-meau meau-contact">
			<a href="javascript:" class="cndns-right-btn"> <span
				class="demo-icon">&#xe902;</span>
				<p>
					客服<br /> 热线
				</p>
			</a>
			<div class="cndns-right-box">
				<div class="box-border">
					<div class="sev-t">
						<span class="demo-icon">&#xe902;</span>
						<p>
							400-123-4567<br />
							<i>7*24小时客服服务热线</i>
						</p>
						<div class="clear"></div>
					</div>
					<span class="arrow-right"></span>
				</div>
			</div>
		</div>
		<div class="cndns-right-meau meau-code">
			<a href="javascript:" class="cndns-right-btn"> <span
				class="demo-icon">&#xe903;</span>
				<p>
					关注<br /> 微信
				</p>
			</a>
			<div class="cndns-right-box">
				<div class="box-border">
					<div class="sev-t">
						<img src="images/weixing-ma.jpg"
							th:src="@{/images/weixing-ma.jpg}" /> <i>关注官方微信</i>
					</div>
					<span class="arrow-right"></span>
				</div>
			</div>
		</div>
		<div class="cndns-right-meau meau-top" id="top-back">
			<a href="javascript:" class="cndns-right-btn" onclick="topBack()">
				<span class="demo-icon">&#xe904;</span> <i>顶部</i>
			</a>
		</div>
	</div>